Trabalho 01 - Parte 01 (Giovanna Martins ; Guilherme Audi)

In [5]:
#Criando uma planilha para criar a leitura 

dados = {
    'FONTE': [
        'Arco Elétrico',
        'Forno de Fundição',
        'Beneficiamento de Areia para Moldes',
        'Indução Elétrica',
        'Fornos Principais',
        'Despejo de Fundição',
        'Limpeza de Fundição',
        'Resfriamento'
    ],
    'LB/TONmetal': [
        13,
        11,
        0,
        0.1,  
        0,
        0,
        0,
        0
    ],
    'NO': [
        0.02,
        0.01,
        0,
        0,
        0,
        0,
        0,
        0
    ],
    'PM-10 LB/TONareia': [
        0,
        0,
        6,
        0.09,
        2.22,
        2.8,
        1.7,
        1.4
    ]
}

In [ ]:
#TAXA DE ATIVIDADE - VARIAVEL

taxa_de_atividade = 852000  # 852 mil toneladas

print("Taxa de Atividade:", taxa_de_atividade, "toneladas")

In [9]:
import pandas as pd

# Dados da planilha (simulação)
dados = {
    'FONTE': ['Arco Elétrico', 'Forno de Fundição', 'Beneficiamento de Areia para Moldes', 'Indução Elétrica', 'Fornos Principais', 'Despejo de Fundição', 'Limpeza de Fundição', 'Resfriamento'],
    'LB/TONmetal': [13, 11, 0, 0.1, 0, 0, 0, 0],
    'NO': [0.02, 0.01, 15.8, 7.2, 9.1, 18.6, 22.0, 11.3],
    'PM-10 LB/TONareia': [0, 0, 6, 0.09, 2.22, 2.8, 1.7, 1.4]
}

# Criar DataFrame a partir dos dados
df = pd.DataFrame(dados)

# Definir a taxa de atividade em toneladas
taxa_de_atividade = 852000 
# Calcular os valores máximos e mínimos com base na taxa de atividade
df['Maximo'] = df['LB/TONmetal'] * taxa_de_atividade
df['Minimo'] = df['NO'] * taxa_de_atividade

# Imprimir os valores máximos e mínimos estimados
print("Valores Estimados com Base na Taxa de Atividade de", taxa_de_atividade, "toneladas de ferro fundido:")
print(df[['FONTE', 'Maximo', 'Minimo']])

Valores Estimados com Base na Taxa de Atividade de 852000 toneladas de ferro fundido:
                                 FONTE      Maximo      Minimo
0                        Arco Elétrico  11076000.0     17040.0
1                    Forno de Fundição   9372000.0      8520.0
2  Beneficiamento de Areia para Moldes         0.0  13461600.0
3                     Indução Elétrica     85200.0   6134400.0
4                    Fornos Principais         0.0   7753200.0
5                  Despejo de Fundição         0.0  15847200.0
6                  Limpeza de Fundição         0.0  18744000.0
7                         Resfriamento         0.0   9627600.0

Questão 3 - Elaborar uma função para criar uma variabilidade na taxa de atividade do empreendimento

In [14]:
import pandas as pd
import numpy as np

taxa_de_atividade = 852000  # 852 mil toneladas

# Criar um intervalo de datas de hora em hora para o ano de 2023
data_inicio = '2023-01-01 00:00:00'
data_fim = '2023-12-31 23:00:00'
intervalo_datas = pd.date_range(start=data_inicio, end=data_fim, freq='h')

# Gerar dados aleatórios para as colunas B, C e D ao longo do tempo
np.random.seed(0)  

# Gerar valores aleatórios para cada coluna com base na taxa de atividade
dados_simulados = {
    'Data': intervalo_datas,
    'LB/TONmetal': np.random.normal(loc=10, scale=5, size=len(intervalo_datas)) * taxa_de_atividade / 1000,
    'NO': np.random.normal(loc=10, scale=3, size=len(intervalo_datas)) * taxa_de_atividade / 1000,
    'PM-10 LB/TONareia': np.random.normal(loc=2, scale=1, size=len(intervalo_datas)) * taxa_de_atividade / 1000
}

# Criar DataFrame com os dados simulados
df_simulado = pd.DataFrame(dados_simulados)

# Agrupar os dados por mês para análise da variabilidade mensal
df_simulado['Mes'] = df_simulado['Data'].dt.month  # Adicionar coluna com o número do mês
df_agrupado = df_simulado.groupby('Mes').agg({
    'LB/TONmetal': ['min', 'max'],
    'NO': ['min', 'max'],
    'PM-10 LB/TONareia': ['min', 'max']
})

# Imprimir os valores mínimos e máximos de cada coluna por mês
print("Variabilidade dos Valores por Mês em 2023:")
print(df_agrupado)

Variabilidade dos Valores por Mês em 2023:
     LB/TONmetal                         NO               PM-10 LB/TONareia  \
             min           max          min           max               min
Mes
1   -4456.569413  20005.914464   806.303012  15508.661777       -590.842965
2   -3311.549960  22028.352534  1354.933680  15843.460250       -516.640406
3   -4757.809080  20997.949990  1962.769432  17356.549250      -2084.530670
4   -3065.834092  19018.011437  -674.349513  17444.402731      -1322.180692
5   -4287.684526  24715.072516  1323.696012  16046.410342      -1300.058120
6   -7412.828718  19598.862168  1585.634755  17158.104567       -923.952013
7   -4291.682491  21214.698492  -922.593207  15890.889783      -1004.842978
8   -3233.031253  20625.928888  1673.976582  16549.664918      -1269.080144
9   -3993.595551  20557.782332   728.679675  16266.617123      -1116.339077
10  -4554.821086  22546.877811   833.052050  15465.967588       -957.381728
11  -4797.618296  22202.470229   168.924126  17717.280621       -954.071548
12  -4173.716364  21383.792479   417.534706  17385.187918      -1082.809927


             max
Mes
1    4430.986185
2    4534.004194
3    4567.110634
4    4035.476968
5    4214.396701
6    4120.402135
7    4801.958649
8    4968.685218
9    3929.138873
10   4776.021223
11   4181.305325
12   4345.393352

In [1]:
import pandas as pd
import numpy as np

# Criando um DataFrame com todas as horas de cada dia do ano de 2023
dates = pd.date_range(start='2023-01-01', end='2023-12-31 23:00:00', freq='H')
df = pd.DataFrame(index=dates, columns=['Taxa_Atividade'])

# Adicionando a variabilidade sazonal com funções trigonométricas
# A função seno e cosseno podem ser usadas para modelar ciclos anuais
days_in_year = 365
df['Taxa_Atividade'] = np.sin(2 * np.pi * df.index.dayofyear / days_in_year) + \
                       np.cos(4 * np.pi * df.index.dayofyear / days_in_year)

df.head()

C:\Users\Giovanna\AppData\Local\Temp\ipykernel_9072\1040797877.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  dates = pd.date_range(start='2023-01-01', end='2023-12-31 23:00:00', freq='H')

                     Taxa_Atividade
2023-01-01 00:00:00        1.016621
2023-01-01 01:00:00        1.016621
2023-01-01 02:00:00        1.016621
2023-01-01 03:00:00        1.016621
2023-01-01 04:00:00        1.016621

In [2]:
# Adicionando variações aleatórias com o Método de Monte Carlo
# Usando uma variação de ±20% para cada hora
np.random.seed(42)  # Para garantir a reprodutibilidade
random_variation = 1 + 0.2 * np.random.randn(len(df))

# Aplicando a variação aleatória
df['Taxa_Atividade'] *= random_variation

# Verificando o resultado após adicionar a variabilidade aleatória
df.head()

                     Taxa_Atividade
2023-01-01 00:00:00        1.117615
2023-01-01 01:00:00        0.988508
2023-01-01 02:00:00        1.148311
2023-01-01 03:00:00        1.326290
2023-01-01 04:00:00        0.969012